@font-face {
	font-family: "manrope-medium";
	src: url("../fonts/Manrope/Manrope-Medium.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}


@font-face {
	font-family: "manrope-bold";
	src: url("../fonts/Manrope/Manrope-Bold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "manrope-semibold";
	src: url("../fonts/Manrope/Manrope-SemiBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

